///* ========================================================================
//   #COLORS
//   ======================================================================== */

$colors: (
  primary: #663399,
  secondary: #2BA9E0,
  error: #ffb000,
  alert: #65c02f,
  info: #2BA9E0,
  text: rgb(30, 30, 39),
  shadows: rgba(245, 243, 247, .3),
  white: rgb(247, 247, 247),
  black: rgb(17, 17, 17),
  border: #9360b8,
  divider: #9360b8,
  links: #2BA9E0,
  excerpt: rgb(102, 102, 102),
  alternative: rgb(175, 31, 69),
);
